function barchart(id, xcap, ylabel, data, update_w, Q, algo_name) {
  var series = {};
  for (var i in algo_name) if (algo_name.hasOwnProperty(i))
    series[i] = [];

  data.forEach(function (d) {
    if (series[d.algorithm] && d.Q == Q && d.update_workload == update_w && d.query_workload == 'Random') {
      d.Q = parseInt(d.Q);
      d.insert_time = parseFloat(d.insert_time);
      d.query_time = parseFloat(d.query_time) + 1e-9;
      d.update_time = parseFloat(d.update_time) + 1e-9;
      d.total_time = d.insert_time + d.query_time;
      if (update_w == 'LFHV') d.total_time += d.update_time;
      series[d.algorithm].push(d);
    }
  });

  // console.log(series);

  var svg = d3.select(id);
  if (!svg[0][0]) return;
  var margin = { top: 20, right: 0, bottom: 60, left: 60 };
  if (!ylabel) margin.left = 35;
  var width = svg.attr('width') - (margin.left + margin.right);
  var height = svg.attr('height') - (margin.top + margin.bottom);

  var x = d3.scale.ordinal().rangeRoundBands([0, width], .1);
  var y = d3.scale.linear().rangeRound([height, 0]);

  var color = d3.scale.ordinal().range(["#000", "#888", "#bbb"]);
  var xAxis = d3.svg.axis().scale(x).orient("bottom");
  var yAxis = d3.svg.axis().scale(y).orient("left").tickFormat(d3.format("1s")).ticks(5);

  svg = svg.append("g").attr("transform", "translate(" + margin.left + "," + margin.top + ")");
  color.domain(['insert', 'update', 'query']);

  var arr = d3.keys(series).map(function(name) {
    var r = series[name][0];
    var values = [
      { name:'insert', y0: 0, y1: r.insert_time },
      { name:'query', y0: r.insert_time, y1: r.total_time },
    ];
    if (update_w == 'LFHV') {
      values[1] = { name:'update', y0: r.insert_time, y1: r.insert_time + r.update_time };
      values[2] = { name:'query', y0: r.insert_time + r.update_time, y1: r.total_time };
    }
    // console.log(name + ' ' + JSON.stringify(values));

    return {
      name: name,
      values: values
    };
  });

  x.domain(arr.map(function(d) { return algo_name[d.name]; }));
  y.domain([0, d3.max(arr, function(d) { return d.values[d.values.length - 1].y1; })]);

  var xx = svg.append("g")
      .attr("class", "x axis")
      .attr("transform", "translate(0," + height + ")")
      .call(xAxis);
  xx.selectAll("text").attr({
    "font-size": 12,
    "transform": "rotate(-25) translate(-7,0)",
    "text-anchor": "end"
  });
  xx.append("text")
    .attr("transform", "translate(" + width/2 + ",0)")
    .attr("y", 45)
    // .attr("dy", ".71em")
    .style("text-anchor", "middle")
    .text(xcap);

  var yy = svg.append("g")
      .attr("class", "y axis")
      .call(yAxis);
  if (ylabel) yy.append("text")
      .attr("transform", "rotate(-90) translate(-" + height/2 + ",0)")
      .attr("y", -45)
      // .attr("dy", ".71em")
      .style("text-anchor", "middle")
      .text(ylabel);

  var state = svg.selectAll(".state")
      .data(arr)
    .enter().append("g")
      .attr("class", "g")
      .attr("transform", function(d) { return "translate(" + x(d.name) + ",0)"; });

  state.selectAll("rect")
      .data(function(d) { return d.values; })
    .enter().append("rect")
      .attr("width", x.rangeBand())
      .attr("y", function(d) { return y(d.y1); })
      .attr("height", function(d) { return y(d.y0) - y(d.y1); })
      .style("fill", function(d) { return color(d.name); });

  // var legend = svg.selectAll(".legend")
  //     .data(['insert', 'query'])
  //   .enter().append("g")
  //     .attr("class", "legend")
  //     .attr("transform", function(d, i) { return "translate(0," + i * 20 + ")"; });

  // legend.append("rect")
  //     .attr("x", width - 18)
  //     .attr("width", 18)
  //     .attr("height", 18)
  //     .style("fill", color);

  // legend.append("text")
  //     .attr("x", width - 24)
  //     .attr("y", 9)
  //     .attr("dy", ".35em")
  //     .style("text-anchor", "end")
  //     .text(function(d) { return d; });
}

